.container.navi{
	overflow-y: visible;
}
nav{
	background: #ffffff;
	color: #202020;
	@include clearfix();
	ul{
		margin: 0px;
		padding: 0px;
		width: 100%;
	}
	li{
		list-style: none;
		position: relative;
		float: left;
		ul{
			position: absolute;
			width: 200px;
			z-index: 1;
			li{
				float: none;
			}
		}
	}
	a{
		display: block;
		color: #202020;
		text-decoration: none;
		padding: 10px 25px;
	}
}